<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="FileAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <IgnoresException value="false" />
      <converter>
        <AddProperty>
          <Key>recursive</Key>
          <Value>true</Value>
        </AddProperty>
        <name value="customtrace" />
        <type value="net_logging.Converter.CustomStackTraceConverter, net-logging" />
      </converter>
      <conversionPattern>{"timestamp": "%date","correlationId": "%property{correlationId}","tid": "%property{log4net:HostName}","principal": "%property{principal}","host": "%property{host}","service": "BusinessInteraction","instance": "%property{instance}","version": "%property{version}","thread": "%thread","category": "%logger","level": "%level","message": "%message","fault": "%property{fault}","stacktrace": %customtrace,"payload": "%property{payload}"}%newline</conversionPattern>
    </layout>
  </appender>

  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="/tmp/log/net_logging.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <IgnoresException value="false" />
      <converter>
        <name value="customtrace" />
        <type value="net_logging.Converter.CustomStackTraceConverter, net-logging" />
      </converter>
      <conversionPattern>{"timestamp": "%date","correlationId": "%property{correlationId}","tid": "%property{log4net:HostName}","principal": "%property{principal}","host": "%property{host}","service": "BusinessInteraction","instance": "%property{instance}","version": "%property{version}","thread": "%thread","category": "%logger","level": "%level","message": "%message","fault": "%property{fault}","stacktrace": %customtrace,"payload": "%property{payload}"}%newline</conversionPattern>
    </layout>
  </appender>
</log4net>
