<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="FileAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="net_logging.Layout.CustomJsonLayout, net-logging">
      <param name="Attributes" value="timestamp,correlationId,tid,principal,host,service,instance,version,thread,category,level,message,fault,stacktrace,payload" />
      <param name="IsRecursiveStackTrace" value="false" />
    </layout>
  </appender>

  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="/Users/dkakunsi/Documents/log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="net_logging.Layout.CustomJsonLayout, net-logging">
      <param name="Attributes" value="timestamp,correlationId,tid,principal,host,service,instance,version,thread,category,level,message,fault,stacktrace,payload" />
      <param name="IsRecursiveStackTrace" value="false" />
    </layout>
  </appender>
</log4net>
